<!-- <meta charset="utf-8" http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=no"> -->
<!DOCTYPE html >
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=no" charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.12.4/ui-grid.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
    </head>

    <body ng-app="myApp" ng-controller="homeCtrl" class="container-fluid">
        <div class="container">
          <h1 class="text-center">2025 NCAA Tournament - {{currentRound}}</h1>
            <div ng-repeat="t in tournament track by $index" ng-show="$index%2===0 && $index === myIndex" class="row" >
              <div class="col-sm-6">
                <div ng-click="selectTeam(tournament[$index], tournament[$index+1], $index)" class="my-div" ng-mousedown="selected1='selected'" ng-class="selected1">
                    <h2 class="text-center">{{tournament[$index].name}}</h2>
                    <img class="center-block" ng-src="{{tournament[$index].logo}}">
                </div>
              </div>
              <div class="col-sm-6">
                <div ng-click="selectTeam(tournament[$index+1], tournament[$index], $index)" class="my-div" ng-mousedown="selected2='selected'" ng-class="selected2">
                    <h2 class="text-center">{{tournament[$index+1].name}}</h2>
                    <img class="center-block" ng-src="{{tournament[$index+1].logo}}">
                </div>
              </div>
            </div>
            <div ng-show="$index>=124">
              <div class="my-div">
                <h2 class="text-center">{{winner.name}}</h2>
                <img class="center-block" ng-src="{{winner.logo}}">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-2">
                <p>Round of 64</p>
                <pre>{{selections32 | json}}</pre>
              </div>
              <div class="col-sm-2">
                <p>Round of 32</p>
                <pre>{{selections16 | json}}</pre>
              </div>
              <div class="col-sm-2">
                <p>Round of 16</p>
                <pre>{{selections8 | json}}</pre>
              </div>
              <div class="col-sm-2">
                <p>Round of 8</p>
                <pre>{{selections4 | json}}</pre>
              </div>
              <div class="col-sm-2">
                <p>Round of 4</p>
                <pre>{{selections2 | json}}</pre>
              </div>
              <div class="col-sm-2">
                <p>Round of 2</p>
                <pre>{{selections1 | json}}</pre>
              </div>
            </div>
        </div>
    </body>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.12.4/ui-grid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.12.4/ui-grid.auto-resize.min.js"></script>
    <script src="schoolData.js"></script>
    <script src="script.js"></script>

</html>
